{% extends "base.html" %}
{% block content %}

<div>
  <div align='center'>
    <h1 >Welcome to the page for {{user.first_name}} {{user.last_name }} </h1>
  <div align = 'left'>
      <h2>Your favourite Universities:</h2>
  </div>
  </div>
</div>

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">University</th>
      </tr>
    </thead>
    <tbody>
        {% for uni in favourites %}
        <tr>
        <td>{{ loop.index }} </td>

        <td><a href="unis/{{uni['id']}}">{{ uni['name'] }}</a> <a type="button" href="/delete/{{ uni['id'] }}" style="float:right">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}