{% extends "base.html" %}
{% block content %}

<style>

@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */

.search-input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        
        &::placeholder {
            color: color(#575756 a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
    }

.search-container {
  float: center;
  width: 50%
  padding: 6px 10px;
  margin-top: 8px;
  margin-left:15%; 
  margin-right:15%;
}


table {
  width: 50%;
  margin-left:25%; 
  margin-right:25%;
  margin-top: 1%
}

table tr th{
  text-align: left;
}

table tr td, table tr th{
  border-bottom: 1px solid grey;
  padding: 10px;
}

div.top form {
  float: right;
}

</style>

<div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div id="home" class="first-section" style="background-image:url('static/images/slider-01.jpg');">
          <div class="dtab">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12 text-right">
                  <div class="big-tagline">
                    <h2><strong> Find </strong> your destination College</h2>
                    <p class="lead">with the help of SmartEdu</p>
                      <a href="#" class="hover-btn-new"><span>Contact Us</span></a>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="#" class="hover-btn-new"><span>Read More</span></a>
                  </div>
                </div>
              </div><!-- end row -->            
            </div><!-- end container -->
          </div>
        </div><!-- end section -->
      </div>

<div class = container>
  <div class=search-container>
      <form method="post">
          <input  class="search-input" name=name value="{{ name }}" placeholder="Search University..."  
          />
  <!--        <input type="submit" value="Submit!">-->
  <!---->
      </form>
  </div>
</div>

<table cellspacing=0 cellpadding=0>
  <tr>
      <th>Ranking</th>
      <th>Name</th>
  </tr>

  {% for i in top10  %}
  <tr>
      <td>{{ i.position }}</td>
      <td>{{ i.uni_name }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
