{% extends "base.html" %}
{% block content %}

<!--<form , method="post">-->
<!--    <table cellspacing=0 cellpadding=0>-->
<!--        <tr>-->
<!--            <th>#</th>-->
<!--            <th>University Name</th>-->
<!--            <th>Location</th>-->
<!--            <th>Program</th>-->
<!--            <th>Tuition</th>-->
<!--            <th>Enrollment</th>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->
<style>
    table {
        width: 50%;
        margin-left:25%; 
        margin-right:25%;
    }

    table tr th {
        text-align: left;
    }

    table tr td, table tr th {
        border-bottom: 1px solid grey;
        padding: 10px;
    }

    div.top form {
        float: right;
    }
</style>

<!-- <form  method="post">
    <input type="text" placeholder="Search University">
</form>
-->
<table cellspacing=0 cellpadding=0>
    <tr>
        <th>Global ranking</th>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th></th>
    </tr>

    {% for i in cur  %}
    <tr>
        <td>{{ i[3] }}</td>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
    </tr>
    {% endfor %}
</table>
     <!--
     <script type="text/javascript"
         src="{{ url_for('static', filename='paging.js') }}"></script> -->

<form method="post" class="inline">
    <center>
        {% if page == 1 %}
            <ul class="pagination pg-blue">
                <li class="page-item"><a class="page-link">{{page}}</a></li>
                <li class="page-item"><a class="page-link">{{page+1}}</a></li>
                <li class="page-item"><a class="page-link">{{page+2}}</a></li>
                <li class="page-item"><a class="page-link">Next</a></li>
            </ul>
        {% else %}
            <th>ops </th>
        {% endif %}
    </center>
</form>        

{% endblock content %}