{% extends "base.html" %}
{% block content %}

<div class="all-title-box">
      <div class="container text-center">
          <h1>
          {{ uni.info['name']}}
          <span class="m_1">
          {{uni.info['street']}}
          {{uni.get_location()['city']}}
          {{uni.get_location()['state']}}
          {{uni.info['postal']}}
          </span>
          </h1>
      </div>
</div>

<div class="text-right">
    <a type="button" href="/favourites/{{uni.id}}"></a>

</div>

<style>
    .text-right a {
      position:  ;
      transition: .5s ease;
      top: 37%;
      left: 78%

    }
    .text-right a:before,
    .text-right a:after {
      position: relative;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: crimson;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    .text-right a:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
</style>

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Financials</th>
        <th scope="col">Tuition</th>
        <th scope="col">Room</th>
        <th scope="col">Board</th>
        <th scope="col">Admission fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">USD</th>
        <td> {{ uni.get_financials()['tuition'] }} </td>
        <td> {{ uni.get_financials()['typical_room'] }} </td>
        <td> {{ uni.get_financials()['typical_board'] }} </td>
        <td> {{ uni.get_financials()['admission_fee'] }} </td>
      </tr>
        </tbody>
  </table>
</div>

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Enrollment, of which</th>
        <th scope="col">Male</th>
        <th scope="col">Female</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ uni.info['num_students'] }} students</th>
        <td> {{ uni.get_genders()['male'] }} % </td>
        <td> {{ uni.get_genders()['female'] }} % </td>
      </tr>
        </tbody>
  </table>
</div>


<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Races</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td> <img class="img-fluid" src="{{plot}}" alt=""> </td>

      </tr>
        </tbody>
  </table>
</div>


<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Programs</th>
        <th scope="col">Name</th>
        <th scope="col">Cateogry</th>
      </tr>
    </thead>
    <tbody>
        {% for dict in programs %}
        <tr>
        <td>{{ loop.index }} </td>
        <td>{{ dict['prog_name'] }}</td>
        <td >{{ dict['cat_name'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
