{% extends "base.html" %}
{% block content %}

<style>
    table {
        width: 100%;
    }

    table tr th {
        text-align: left;
    }

    table tr td, table tr th {
        border-bottom: 1px solid grey;
        padding: 10px;
    }

    div.top form {
        float: right;
    }
</style>
<table cellspacing=0 cellpadding=0 >
    <tr>
        <th>Name</th>
        <th>Enrollment</th>
        <th>Tuition</th>
        <th>City</th>
        <th>State</th>
        <th>Global ranking</th>
        <th></th>
    </tr>

    {% for i in cur  %}
    <tr>
        <td>
          <a href="/unis/{{ i[6] }}" style="color:#FF0000;">
            <div style="height:100%;width:100%">
              {{ i[0] }}
            </div>
          </a>
        </td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td>{{ i[3] }}</td>
        <td>{{ i[4] }}</td>
        <td>{{ i[5] }}</td>

    </tr>
    {% endfor %}
</table>

<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        font-size:14px;
        color: black;
        float: left;
        padding: 2px 8px;
        text-decoration: none;
    }
    .pagination a.active {
        border-radius:5px;
        background-color:#87CEFA;
    }
    .pagination a:hover:not(.active) {
        background-color: #d4d5d2;
        border-radius:5px;
    }
    .GFG {
        font-size:42px;
        font-weight:bold;
        color:#009900;
        margin-left:100px;
        margin-bottom:60px;
    }
    .peg {
        font-size:24px;
        font-weight:bold;
        margin-left:40px;
        margin-bottom:20px;
    }

    form {
    display: inline-block; //Or display: inline;
    }
    form {
        font-size:18px;
        font-weight:bold;
    }

</style>

<center style="color:blue;"> <b> <font size="4">{{ page }} of {{ page_count }} </font> </b></center>
<form method="post" class="inline">
    <center>
    <div class="pagination">
        {% if page_count > 2 %}
            {% if page ==1 %}
                {% set first = page %}
                {% set last = page + 3 %}
            {% elif page == page_count %}
                {% set first = page_count -2 %}
                {% set last = page_count+1 %}
            {% else %}
                {% set first = page-1 %}
                {% set last = page+2 %}
            {% endif %}
        {% else %}
        {% set first = 1 %}
        {% set last = page_count+1 %}
        {% endif %}

        {% if page>1 %}
        <form method="post"  class="inline">
          <input type="hidden" name="extra_submit_param" value="extra_submit_value">
          <button type="submit" name="submit_param" value="submit_value" class="link-button">
            «
          </button>
            <input name=page  type="hidden" value="{{ page -1 }} " />
            <input name=locat type="hidden" value="{{ locat }}" />
            <input name=category  type="hidden" value="{{ category }}" />
            <input name=tut_great  type="hidden" value="{{ tut_great }}" />
            <input name=tut_less type="hidden" value="{{ tut_less }}" />
            <input name=enroll_great type="hidden" value="{{ enroll_great }}" />
            <input name=enroll_less  type="hidden" value="{{ enroll_less }}" />
        </form>
        {% endif %}

        {% for p in range(first, last) %}
                {% if p == page %}
                <form method="post" class="inline">
                    <input name=page  type="submit" value="{{ p }}" />
                    <input name=locat type="hidden" value="{{ locat }}" />
                    <input name=category  type="hidden" value="{{ category }}" />
                    <input name=tut_great  type="hidden" value="{{ tut_great }}" />
                    <input name=tut_less type="hidden" value="{{ tut_less }}" />
                    <input name=enroll_great type="hidden" value="{{ enroll_great }}" />
                    <input name=enroll_less  type="hidden" value="{{ enroll_less }}" />
                </form>
                {% else %}
                <form method="post" class="inline">
                    <input name=page  type="submit" value="{{ p }}" />
                    <input name=locat type="hidden" value="{{ locat }}" />
                    <input name=category  type="hidden" value="{{ category }}" />
                    <input name=tut_great  type="hidden" value="{{ tut_great }}" />
                    <input name=tut_less type="hidden" value="{{ tut_less }}" />
                    <input name=enroll_great type="hidden" value="{{ enroll_great }}" />
                    <input name=enroll_less  type="hidden" value="{{ enroll_less }}" />
                </form>
                {% endif %}
        {% endfor %}

        {% if page < page_count %}
        <form method="post" class="inline">
              <input type="hidden" name="extra_submit_param" value="extra_submit_value">
              <button type="submit" name="submit_param" value="submit_value" class="link-button">
                »
              </button>
                <input name=page  type="hidden" value="{{ page +1 }} " />
                <input name=locat type="hidden" value="{{ locat }}" />
                <input name=category  type="hidden" value="{{ category }}" />
                <input name=tut_great  type="hidden" value="{{ tut_great }}" />
                <input name=tut_less type="hidden" value="{{ tut_less }}" />
                <input name=enroll_great type="hidden" value="{{ enroll_great }}" />
                <input name=enroll_less  type="hidden" value="{{ enroll_less }}" />
        </form>

        {% endif %}
    </div>
    </center>
</form>
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>

{% endblock content %}