{% extends "base.html" %}
{% block content %}
<style>
    table {
        width: 100%;
    }

    table tr th {
        text-align: left;
    }

    table tr td, table tr th {
        border-bottom: 1px solid grey;
        padding: 10px;
    }

    div.top form {
        float: right;
    }
</style>


<table cellspacing=0 cellpadding=0 >
    <tr>
        <th>Name</th>
        <th>Enrollment</th>
        <th>Tuition</th>
        <th>City</th>
        <th>State</th>
        <th>Global ranking</th>
        <th></th>
    </tr>
</table>

<br><br><br>

<h1 width="100000" align="center" >
<font size="+100">
    No Results Found :(

</font>

</h1>
<br><br><br>
     <a href="/search" style="color:#FF0000;">
<h1 width="100000" align="center" style="color:#0000FF">
<font size="+100">
    Click here to Return to Search
</font>
</h1>
     </a>



{% endblock content %}