{% extends "base.html" %}
{% block content %}
<style>
input[type=form-group], select {
  width: 100%;
  padding: 12px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 18px;
  color: #040507;

}
div[type=form-group] {
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 8px;

}

body {
  padding-top: 50px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #4c5a7d;
  }

footer {
    padding-top: 60px;
    display: block;
    margin-top: 80px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
</style>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="content-section">
    <div class="all-title-box">
        <div class="container text-center">
            <h1>Find your best match<span class="m_1">---------</span></h1>
        </div>
    </div>
    <div class="container text-left">
        <form  class="form-horizontal" method="POST">
            <fieldset class="form-group">
                  <div  class="form-group ">
                        {{ form.csrf_token }}
                         {{ form.name }}
                    </div>
                    <div  class="form-group  col-xs-2 ">
                        {{ form.category.label }}
                         {{ form.category }}
                    </div>
                     <div  class="form-group">
                        {{ form.locat.label }}
                         {{ form.locat }}
                    </div>
                <div class="row ">
                    <div class="form-group mx-2">
                        {{ form.tut_less.label }}
                         {{ form.tut_less }}
                    </div>
                    <div  class="form-group col-xs-2 mx-2">
                        {{ form.tut_great.label }}
                         {{ form.tut_great }}
                    </div>
                 </div>
                <div class="row " >
                    <div  class="form-group col-xs-2 mx-2">
                        {{ form.enroll_less.label }}
                        {{ form.enroll_less }}
                    </div>
                    <div class="form-group mx-2">
                        {{ form.enroll_great.label }}
                         {{ form.enroll_great }}
                    </div>
                 </div>

            </fieldset>
            <button  type="submit" data-dismiss="modal" aria-hidden="true" class="btn btn-light btn-radius btn-brd grd1" >Search</button>
            <button  type="reset" data-dismiss="modal" aria-hidden="true" class="btn btn-light btn-radius btn-brd grd1">Clear</button>
        </form>
    </div>
</div>
<!--{% with messages = get_flashed_messages() %}-->
<!--  {% if messages %}-->
<!--    <ul class=flashes>-->
<!--    {% for message in messages %}-->
<!--      <li>{{ message }}</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--  {% endif %}-->
<!--{% endwith %}-->






{% endblock content %}