{% extends "base.html" %}
{% block content %}
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Rankings by subject<span class="m_1">---------</span></h1>
		</div>
	</div>

    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <p class="lead">Find Top Universities for Master's Degree by Subject</p>
                </div>
            </div><!-- end title -->

            <hr class="invis">
			{% for i in range(0,len,2) %}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="static/images/blog_{{ random_list[i] }}.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href='?ranking_name={{ rankings[i] }}'>{{ rankings[i] }}</a></h2>
							</div>
							<div class="course-desc">
<!--								<p>....</p>-->
							</div>
						</div>
					</div>

                </div><!-- end col -->
                {% if i+1 != len %}
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="static/images/blog_{{ random_list[i+1] }}.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href='?ranking_name={{ rankings[i+1] }}'>{{ rankings[i+1] }}</a></h2>
							</div>
							<div class="blog-desc">
<!--								<p>....</p>-->
							</div>
						</div>
					</div>
                </div><!-- end col -->
                {% endif %}
            </div><!-- end row -->
			{% endfor %}
			<hr class="hr3">

        </div><!-- end container -->
    </div><!-- end section -->


{% endblock content %}

