{% extends "base.html" %}
{% block content %}
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Top Universities<span class="m_1">in "{{ category_name }}" ranking</span></h1>
		</div>
	</div>
    <div id="overviews" class="section wb">
        <div class="container">
			<body>
				{% if page>page_count or page < 1 %}
				<center>This page does not exist</center>
				{% else %}
				{% if uni_list %}
						<table class="table table-hover">
							<thead>
							  <tr>
								<th scope="col">Position</th>
								<th scope="col">University</th>
							  </tr>
							</thead>
							<tbody>
								{% for university in uni_list %}
								<tr>
									<td>#{{ university['position'] }}</td>
									<td><a href='?uni_id={{ university["uni_id"] }}'>{{ university["uni_name"] }}</a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
				{% else %}
				<center>There is no ranking information with "{{ category_name  }}" ranking name</center>
				{% endif %}

				<style>
					.pagination {
						display: inline-block;
					}

					.pagination a {
						font-size:14px;
						color: black;
						float: left;
						padding: 2px 8px;
						text-decoration: none;
					}
					.pagination a.active {
						border-radius:5px;
						background-color:#87CEFA;
					}
					.pagination a:hover:not(.active) {
						background-color: #d4d5d2;
						border-radius:5px;
					}
					.GFG {
						font-size:42px;
						font-weight:bold;
						color:#009900;
						margin-left:100px;
						margin-bottom:60px;
					}
					.peg {
						font-size:24px;
						font-weight:bold;
						margin-left:40px;
						margin-bottom:20px;
					}
				</style>

				<center>{{ page }} of {{ page_count }}</center>

				<center>
					<div class="pagination">
						{% if page_count > 2 %}
							{% if page ==1 %}
								{% set first = page %}
								{% set last = page + 3 %}
							{% elif page == page_count %}
								{% set first = page_count -2 %}
								{% set last = page_count+1 %}
							{% else %}
								{% set first = page-1 %}
								{% set last = page+2 %}
							{% endif %}
						{% else %}
						{% set first = 1 %}
						{% set last = page_count+1 %}
						{% endif %}

						{% if page>1 %}
						<a href='?page={{ page-1 }}'>«</a>
						{% endif %}

						{% for p in range(first, last) %}
								{% if p == page %}
								<a class="active" href='?page={{ p }}'>{{ p }}</a>
								{% else %}
								<a href='?page={{ p }}'>{{ p }}</a>
								{% endif %}
						{% endfor %}

						{% if page < page_count %}
						<a href='?page={{ page+1 }}'>»</a>
						{% endif %}
					</div>
				</center>
			{% endif %}
			</body>
		</div><!-- end container -->
    </div><!-- end section -->
{% endblock content %}
