{% extends "base.html" %}
{% block content %}
<style>

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

</style>

<div class="split_left">
  <div class="centered">
    <img src="{{ path1 }}" alt="" class="img-fluid">
  </div>
</div>

<div class="split_right">
  <div class="centered">
    <img src="{{ path2 }}" alt="" class="img-fluid">
  </div>
</div>


{% endblock content %}