{% extends "base.html" %}
{% block content %}

<img src="data:image/png;base64,{{ image }}">

<h3>Coefficient = {{ r }}</h3>
<h3> Correlation between diversity index and tuition is positive, which means
    diversity increases along with the growth of tuition.
    However, this correlation is not strong, as correlation coefficient is close to 0.</h3>

{% endblock content %}
