{% extends "base.html" %}
{% block content %}

<style>
body {background-color: #FFFFE0;}
<style>
    table {
        width: 100%;
    }

    table tr th {
        text-align: left;
    }

    table tr td, table tr th {
        border-bottom: 1px solid grey;
        padding: 10px;
    }

    div.top form {
        float: right;
    }

</style>

<img src="{{ path }}" alt="" class="img-fluid" >
<table cellspacing=0 cellpadding=0>
    <tr>
        <th>Coefficient(female)</th>
        <th>Intercept</th>
         <th>
        <a href="https://www.investopedia.com/terms/r/r-squared.asp" style="color:#0000CD;">
           R-squared (R2)
        </a>
        </th>
    </tr>

    <tr>
        <td>{{ coef }}</td>
        <td>{{ interc }}</td>
        <td>{{ r_sq }}</td>
    </tr>

</table>
<br />
<br />
<h1>
    Do women choose better universities? <br />
    The coefficient of this linear regression  is positive  which  indicates that as the percentage of the female students increases, the rank  of the university also tends to increase (the bigger the rank the worse the university).
    So there is positive correlation between female percentage in the university and rank of the university.</h1>
<br />
<img src="static/images/female.jpg" alt="Girl in a jacket" width="1000" align="center">


{% endblock content %}