{% extends "base.html" %}
{% block content %}

 	<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        width:  100%
      }
      /* Optional: Makes the sample page fill the window. */

    </style>

    <div class="all-title-box">
		<div class="container text-center">
			<h1>Top Universities <span class="m_1">Best universities in the United States.</span></h1>
		</div>
	</div>
	<div id="overviews" class="section wb"  style="
                    padding-top: 40px;
                    padding-bottom: 40px;
                ">
            <div class="row" style="
                    margin-left: -30;
                    margin-right: 30px;
                    margin-left: 30px;
                ">
                <div class="col-lg-9 blog-post-single">
                            <div id="blog-item" class="small-map"  >
                                <div id="map"></div>
                            </div>
                </div><!-- end col -->
                 <div class="col-lg-3 col-12 right-single">
					<div class="widget-search">
						<div class="site-search-area">
							<form method="get" id="site-searchform" action="#">
								<div>
									<input class="input-text form-control" name="search-k" id="search-k" placeholder="Search keywords..." type="text">
									<input id="searchsubmit" value="Search" type="submit">
								</div>
							</form>
						</div>
					</div>
                     <div class="pre-scrollable">
                        <form class="widget-categories"]>
                            <h3 class="widget-title">Ctegories</h3>
                            <ul>
                                <li><a href="/maps/Biological%and%Biomedical%Sciences">Biological and Biomedical Sciences</a></li>
                                <li><a href="/maps/Health%Professions%and%Related%Programs">Health Professions and Related Programs</a></li>
                                <li><a href="/maps/Natural%Resources%and%Conservation">Natural Resources and Conservation</a></li>
                                <li><a href="/maps/Mechanic%and%Repair%Technologies$Technicians">Mechanic and Repair Technologies Technicians</a></li>
                                <li><a href="/maps/Neuroscience">Neuroscience</a></li>
                                <li><a href="/maps/Computer%and%Information%Sciences%and%Support Services">Computer and Information Sciences and Support Services</a></li>
                                <li><a href="/maps/Social%Sciences">Social Sciences</a></li>
                                <li><a href="/maps/Social%Sciences">Social Sciences</a></li>
                                <li><a href="/maps/Engineering">Engineering</a></li>
                                <li><a href="/maps/Mathematics%and%Statistics">Mathematics and Statistics</a></li>
                                <li><a href="/maps/Immunology">Immunology</a></li>
                                <li><a href="/maps/Chemistry">Chemistry</a></li>
                                <li><a href="/maps/Physics">Physics</a></li>
                                <li><a href="/maps/Microbiology">Microbiology</a></li>
                                <li><a href="/maps/Geosciences">Geosciences</a></li>
                                <li><a href="/maps/Military%Technologies%and%Applied%Sciences">Military Technologies and Applied Sciences</a></li>
                                <li><a href="/maps/Communications%Technologies$Technicians%and%Support%Services">Communications Technologies/Technicians and Support Services</a></li>
                                <li><a href="/maps/Plant%and%Animal%Science">Plant and Animal Science</a></li>
                                <li><a href="/maps/Molecular%Biology%Genetics">Molecular Biology Genetics</a></li>
                                <li><a href="/maps/Arts%and%Humanities">Arts and Humanities</a></li>

                            </ul>
                        </form>
                     </div>
				</div>
            </div><!-- end row -->
    </div>
    <div class="parallax section dbcolor">
        <div class="container">
            <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#"><img src="static/images/logo_01.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#"><img src="static/images/logo_02.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#"><img src="static/images/logo_03.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#"><img src="static/images/logo_04.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#"><img src="static/images/logo_05.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#"><img src="static/images/logo_06.png" alt="" class="img-repsonsive"></a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
      
    </div>
    {% block javascript %}
   
    <script type="text/javascript">
        var mapLocation = [{{map |tojson }}];
                        
   
            // ['loan 1', 33.890542, 151.274856, 'address 1'],
            // ['loan 2', 33.923036, 151.259052, 'address 2'],
            // ['loan 3', 34.028249, 151.157507, 'address 3'],
            // ['loan 4', 33.80010128657071, 151.28747820854187, 'address 4'],
            // ['loan 5', 33.950198, 151.259302, 'address 5']
        var locations = JSON.parse(mapLocation);
        console.log(locations)
        function initMap() {
             var latlng = new google.maps.LatLng(locations[0][2], locations[0][3]);
            // var latlng = [36.2070903, -113.7449309]
            mapOptions = {
                zoom:               8,
                center:             latlng
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        
            var infowindow = new google.maps.InfoWindow();
        
            for (i = 0; i < locations.length; i++) {
                var icon = '';
                if ( locations[i][2].length != '' && locations[i][3].length != '' ) {
        
                    var marker = new google.maps.Marker({
                        position:       new google.maps.LatLng(locations[i][2], locations[i][3]),
                        map:            map,
                        title:          locations[i][0],
                    });
                    console.log(locations[i][0])
                    
                    var contentString = locations[i][0];
                    var infowindow = new google.maps.InfoWindow({
                        content:    contentString,
                        maxWidth:   160
                    });
                    infowindow.open(map, marker);
        
                    // Event that closes the Info Window with a click on the map
                    google.maps.event.addListener(map, 'click', function() {
                        infowindow.close();
                    });
        
                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            var contentString = locations[i][0];
                            infowindow.setContent(contentString);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            }
        }
        google.maps.event.addDomListener(window, 'load', initMap);
        
    </script>

 
    <script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr4Ghh5FLjv-6rZvWPoCUfedH7nYt2Hng&callback=initMap">
    </script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    
    {% endblock %}
{% endblock content %}
