{% extends "base.html" %}
{% block content %}


<div class="tile_div">
    {% for key in races_mapping.keys() %}
    <a type="button" class="btn btn-danger" href="/race_choice/{{races_mapping[key]}}">{{ key }}</a>
    {% endfor %}
    <div class="clear"></div>
</div>

{% if race == 'white' %}
<iframe id="igraph1" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~hharut/23.embed" height="525" width="100%"></iframe>
{% elif race == 'native_hawaiian_other_pacific_islander'%}
<iframe id="igraph2" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~hharut/25.embed" height="525" width="100%"></iframe>
{% elif race == 'american_indian_or_alaska_native'%}
<iframe id="igraph3" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~hharut/27.embed" height="525" width="100%"></iframe>

{% elif race == 'two_and_more_race'%}
<iframe id="igraph3" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~hharut/30.embed" height="525" width="100%"></iframe>

{% elif race == 'black_or_african_american'%}
<iframe id="igraph4" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~hharut/32.embed" height="525" width="100%"></iframe>

{% elif race == 'asians'%}
<iframe id="igraph5" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~hharut/34.embed" height="525" width="100%"></iframe>

{% elif race == 'hispanic_or_latino'%}
<iframe id="igraph6" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~hharut/37.embed" height="525" width="100%"></iframe>

{% elif race == 'non_resident_alien'%}
<iframe id="igraph7" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~hharut/39.embed" height="525" width="100%"></iframe>

{% elif race == 'unknown_race'%}
<iframe id="igraph8" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~hharut/41.embed" height="525" width="100%"></iframe>

{% endif %}
{% endblock content %}